.container {
  position: relative;
  display: flex;
  padding: var(--padding-2);
  align-items: center;
  gap: 9px;
  border-radius: var(--Radius-1, 8px);
  background: var(--Surface-Brighter, #2e303a);
  max-width: 74px;
}
.micro {
  width: 24px;
  cursor: pointer;
}
.divider {
  position: absolute;
  background-color: var(--Border-Bright, #252a33);
  width: 1px;
  height: 100%;
  left: 50%;
}
.dots {
  cursor: pointer;
}
